POSTGRES_DB=towa
POSTGRES_USER=towa
POSTGRES_PASSWORD=towa
POSTGRES_PORT=5432

SERVICE_ENGINE_PORT=8000
MODEL_ENGINE_PORT=8100
UI_ENGINE_PORT=5173

VITE_DEPLOYMENT_MODE=cloud
VITE_SERVICE_ENGINE_URL=http://localhost:8000
VITE_MODEL_ENGINE_URL=http://localhost:8100
VITE_UI_AUTH_BACKEND=emulated
VITE_UI_AI_BACKEND=emulated

TOWA_SERVICE_ENGINE_URL=http://service-engine:8000
TOWA_SERVICE_ENGINE_TIMEOUT_SECONDS=10
SERVICE_ENGINE_CORS_ALLOW_ORIGINS=http://localhost:5173
MODEL_ENGINE_CORS_ALLOW_ORIGINS=http://localhost:5173
